<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500" rel="stylesheet" xmlns="">
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>-->
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<script src="./scrollreveal-master/dist/scrollreveal.js"></script>
<script src="./scrollreveal-master/dist/scrollreveal.min.js"></script>
<script>
  window.sr = ScrollReveal();
  if (sr.isSupported()) {
    document.documentElement.classList.add('sr');
  }
</script>
<style>
  .sr .foo { visibility: hidden; }
</style>


<h1 class="mat-display-1">Naughty or Nice?</h1>

<div class="line"></div>


<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <form>
      <div class="form-group row fb-in">
        <label for="fb-id" class="col-form-label"><i class="fab fa-facebook-f"></i>&nbsp;Facebook</label>
        <div class="col-sm-10">
          <input type="facebook" class="form-control" id="fb-id" placeholder="Username">
        </div>
      </div>

      <div class="form-group row ig-in">
        <label for="ig-id" class="col-form-label"><i class="fab fa-instagram"></i>&nbsp;Instagram</label>
        <div class="col-sm-10">
          <input type="instagram" class="form-control" id="ig-id" placeholder="Username">
        </div>
      </div>
      <div class="form-group row spot-in">
        <label for="spot-id" class="col-form-label"><i class="fab fa-spotify"></i>&nbsp;Spotify</label>
        <div class="col-sm-10">
          <input type="spotify" class="form-control" id="spot-id" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-outline-primary submit-btn">Submit</button>
      </div>
    </form>



  </div>
  <br>
  <div class="col-sm-6">
      <div class="right-side">
        <h2>Naughtiness Rating</h2>
      <div class="progress">
        <div id="progBar" class="progress-bar bg-danger progress-bar-striped" (load)="increaseBar(percent)" style="width: 1%;"></div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a id="scrollbutton" onclick="specScroll()"><i class="fas blink fa-angle-down"></i></a>
</div>


<script>
  function specScroll() {
    // var Instagram = document.getElementById("Instagram");
    zenscroll.toY(0);
  }
</script>
<script>
  sr.reveal('.foo-1');
</script>


<script src="zenscroll-min.js"></script>



<!------------------------------------------------------------->
<!--<div class="container color-dark">-->
  <!--<div class="col">-->
    <!--<p>Add a bucket list item</p>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<p>Your bucket list({{itemCount}})</p>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="container color-light" [@goals]="goals.length">-->
  <!--<div class="col">-->
    <!--<p class="sm">Use this form below to add a new bucket list goal. What do you want to do</p>-->

    <!--<form>-->
      <!--<input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">-->
      <!--<input type="submit" class="btn" [value]="btnText" (click)="addItem()">-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">-->
      <!--{{goal}}-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->
