body{
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #020177, #1e78e7, #321c40, #008dd5);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

#logoPhoto{
    width: 20em;
    height: 20em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.line{
    width: 85%;
    border: white solid 0.25px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    display: block;
    position: relative;
    font-size: 5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0 2rem 2rem;
    top: 1.5rem;
    text-align: center;
}

.fb-in,
.ig-in,
.spot-in{
    display: block;
    position: relative;
    float: left;
    font-size: 2em;
    margin-left: 1rem;
    margin-right: 0;
    margin-top: 2rem;
}

.fb-in{
    margin-top: 2rem;
}

.spot-in{
    margin-bottom: 0;
}

.fa-facebook-f,
.fa-instagram,
.fa-spotify{
    display: inline;
//position: relative;
    text-align: left;
    margin-right: 0;
}

label{
    font-size: 2em;
    font-weight: 400;
}


.container{
    padding: 2rem;
}

.submit-btn{
    margin-top: 3rem;
    width: 10rem;
    margin-left: 1.95rem;
    color: white;
    border: white solid 0.2rem;
}

.submit-btn:hover{
    cursor: pointer;
    border: white dashed 0.2rem;
}


#headline{
    color: white;
    position: absolute;
}

#scrollbutton{
    font-size: 4em;
    bottom: 20rem;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.blink{
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}



#scrollbutton:hover{
    cursor: pointer;
}

#progBar{
    color: white;
    font-size: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
    vertical-align: center;
    /*margin-left: 5rem;*/
    /*padding-right: 10rem;*/
}

.progress{
    border-radius: 2%;
    margin-left: 0.2rem;
    height: 2rem;
    border: 5px solid #292929;
}

.progress-bar {
    z-index: 10;
    background: linear-gradient(to left, #86071f, #007100);
}

.right-side{
    margin-top: 3rem;
    margin-left: 3rem;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


@keyframes swing {
    0%, 100% { transform: rotate(-30deg); }
    20% {transform:scale(.95);}
    50% { transform: rotate(30deg); }
    80% {transform:scale(.95);}
}

#logoPhoto {
    animation: swing 3.75s 3 ease-in-out;
}

.event{
    margin:50px auto;
    text-align:center;
}

/*h1,*/
/*h6 {*/
/*font-family: 'Open Sans';*/
/*font-weight: 300;*/
/*text-align: center;*/
/*position: absolute;*/
/*top: 45%;*/
/*right: 0;*/
/*left: 0;*/
/*}*/