<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Naughty or Nice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/gif" href="../static/Naughty%20or%20Nice%20Logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="../static/scrollreveal-master/dist/scrollreveal.js"></script>
    <script src="../static/scrollreveal-master/dist/scrollreveal.min.js"></script>
    <script>
        window.sr = ScrollReveal();
        if (sr.isSupported()) {
            document.documentElement.classList.add('sr');
        }
    </script>
    <style>
        .sr .foo { visibility: hidden; }
    </style>
    <script src="../static/index.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/instagrid.css">
    <script src="../static/display.js"></script>
    <script src="../static/analyze.js"></script>
</head>
<body>

<h1>Naughty or Nice?</h1>

<div class="line"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group row fb-in">
                    <label for="fb-id" class="col-form-label">&nbspFacebook&nbsp<i class="fab fa-facebook"></i></label>
                    <div class="col-xl">
                        <input type="facebook" class="form-control" id="fb-id" placeholder="Username">
                    </div>
                </div>

                <div class="form-group row ig-in">
                    <label for="ig-id" class="col-form-label">&nbspInstagram&nbsp<i class="fab fa-instagram"></i></label>
                    <div class="col-xl">
                        <input type="instagram" class="form-control" id="ig-id" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row spot-in">
                    <label for="spot-id" class="col-form-label">&nbsp&nbspSpotify&nbsp<i class="fab fa-spotify"></i></label>
                    <div class="col-xl">
                        <input type="spotify" class="form-control" id="spot-id" placeholder="Username">
                    </div>
                    <button type="submit" onclick="return startAnalysis()" class="btn btn-outline-primary submit-btn">Submit</button>
                </div>
            </form>
        </div>
        <div class="text-center col-sm-4">
            <h3 id="headline">A Machine-Learning Powered Tool</h3>
            <img src="../static/Naughty%20or%20Nice%20Logo.png" alt="logo" id="logoPhoto"><br><br>
            <a id="scrollbutton" onclick="specScroll()"><i class="fas fa-angle-double-down blink"></i></a>
        </div>
        <div class="col-sm-4">
            <div class="right-side">
                <h3>Professionalism</h3>
                <div class="progress">
                    <div id="progBar1" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Teamwork</h3>
                <div class="progress">
                    <div id="progBar2" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Sociability</h3>
                <div class="progress">
                    <div id="progBar3" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Fitness</h3>
                <div class="progress">
                    <div id="progBar4" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Illegal Activities</h3>
                <div class="progress">
                    <div id="progBar5" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Profanity</h3>
                <div class="progress">
                    <div id="progBar6" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Technical Skills</h3>
                <div class="progress">
                    <div id="progBar7" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div><br>
                <h3>Creativity</h3>
                <div class="progress">
                    <div id="progBar8" class="progress-bar bg-danger progress-bar-striped" style="width: 1%;"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class='instagrid section' id='Instagram'>
    <div class='instagrid.css' data-version='1' id='instagridz'>
        <div class='instagrid.css'>
            <div id='ody'></div>
        </div>
    </div>
</div>

<script>
    function specScroll() {
        // var Instagram = document.getElementById("Instagram");
        window.scrollTo(0,document.body.scrollHeight);
    }
</script>
<script>
    sr.reveal('.foo-1');
</script>


<!--<script>-->
<!--$('.btn').click(function () {-->
<!--$.ajax({-->
<!--type: "POST",-->
<!--url: "../../app.py",-->
<!--success: function (response) {-->
<!--console.log("fuckpenis");-->
<!--},-->
<!--error: function(request,status, error) {-->
<!--console.log("fuckme harder");-->
<!--}-->
<!--})-->
<!--})-->
<!--</script>-->


<script src="../static/zenscroll-min.js"></script>
</body>
</html>